h1 {
  color: gainsboro;
  background-color: #8FBC8F;
  text-align: center;
  font-size: clamp(2vw, 5vw, 7vw);
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: #5F9EA0;
  margin: 0;
}

nav {
  text-align: center;
  background-color: gainsboro;
}

nav a {
  background-color:#4a6b8c  ;
  color: gainsboro;
  border: 5px solid black;
  margin: 0 10px;
  padding: 7px 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background: gray;
  color: white;
}

nav a.active {
  background: darkgreen;
  color: white;
  border-radius: 5px;
}

#row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

figure {
  text-align: center;
  margin: 10px;
}

.imgClass {
  width: 100%;
  max-width: 180px;
  height: 240px;
  object-fit: cover;
  border: 10px solid gainsboro;
  border-radius: 15px;
}

#intro p {
  text-align: center;
  color: gainsboro;
  font-size: 27px;
}

#intro em {
    display: block;
    color: gainsboro;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 20px auto;
  max-width: 70%;
}

table {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  background: lightgrey;
  border: 5px solid black;
  font-size: 1.3em;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gainsboro;
  font-size: 20px;
}

.hobbies ul {
  color: gainsboro;
  list-style-position: inside;
  text-align: left;
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

footer { 
  text-align: center;
  background-color:#8FBC8F;
  padding: 20px;
}

footer p {
  font-family: "Times New Roman", serif;
  font-size: 0.8em;
  color: grey;
}